$header-height: 50px;

.page {
  // empty...
  margin-inline: 10px;
}

.page__header {
  min-height: $header-height;
  max-height: $header-height;
  min-width: 100%;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
}

.page__content {
  margin-block-start: $header-height;
}

.page__content--web-page {
  margin-block-start: 30px;
}