.links--phone {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
}

.link {
  text-align: center;
  font-size: 40px;
}



.link--web-page {
  flex: 1 1 0px;
}

.link--project {
  text-align: left;
  max-width: fit-content;
}

.link--project:hover {
  background-color: black;
  color: white;
}