.nav {
}

.nav--phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}


.nav__menu-button {
  padding: 10px;
  margin-inline-start: auto;
  max-width: $header-height;
  max-height: $header-height;
}

.router-link-active {
  color: red;
}